Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
# Variable containing multiple types of data
data_variable = ("This is a string", [1, 2, 3, 4], 3.14, (5, 6, 7))
print(data_variable)

('This is a string', [1, 2, 3, 4], 3.14, (5, 6, 7))

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [2]:
var1 = ' '                  # Data type: String
var2 = '[ DS , ML , Python]' # Data type: String
var3 = [ 'DS', 'ML', 'Python'] # Data type: List
var4 = 1.0                  # Data type: Float

print(type(var1), type(var2), type(var3), type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'float'>

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	%

(iii)	//

(iv)	**

In [3]:
# Examples
a = 10
b = 3

# Division
print(a / b)  # Output: 3.3333

# Modulus
print(a % b)  # Output: 1 (remainder of 10/3)

# Floor Division
print(a // b)  # Output: 3 (quotient without decimal)

# Exponentiation
print(a ** b)  # Output: 1000 (10 raised to the power of 3)

3.3333333333333335
1
3
1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
# List with multiple data types
my_list = [42, "AI", 3.14, True, None, [1, 2], (3, 4), {"key": "value"}, {1, 2, 3}, b"bytes"]

# For loop to print each element and its type
for element in my_list:
    print(f"Element: {element}, Type: {type(element)}")

Element: 42, Type: <class 'int'>
Element: AI, Type: <class 'str'>
Element: 3.14, Type: <class 'float'>
Element: True, Type: <class 'bool'>
Element: None, Type: <class 'NoneType'>
Element: [1, 2], Type: <class 'list'>
Element: (3, 4), Type: <class 'tuple'>
Element: {'key': 'value'}, Type: <class 'dict'>
Element: {1, 2, 3}, Type: <class 'set'>
Element: b'bytes', Type: <class 'bytes'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
# Example numbers
A = 36
B = 6
count = 0

while A % B == 0:
    A = A // B
    count += 1

print(f"The number is divisible {count} times.")

The number is divisible 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
# List of 25 integers
my_list = list(range(1, 26))

# For loop with if-else condition
for num in my_list:
    if num % 3 == 0:
            print(f"{num} is divisible by 3")
    else:
            print(f"{num} is NOT divisible by 3")

1 is NOT divisible by 3
2 is NOT divisible by 3
3 is divisible by 3
4 is NOT divisible by 3
5 is NOT divisible by 3
6 is divisible by 3
7 is NOT divisible by 3
8 is NOT divisible by 3
9 is divisible by 3
10 is NOT divisible by 3
11 is NOT divisible by 3
12 is divisible by 3
13 is NOT divisible by 3
14 is NOT divisible by 3
15 is divisible by 3
16 is NOT divisible by 3
17 is NOT divisible by 3
18 is divisible by 3
19 is NOT divisible by 3
20 is NOT divisible by 3
21 is divisible by 3
22 is NOT divisible by 3
23 is NOT divisible by 3
24 is divisible by 3
25 is NOT divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property

Mutable Data Types: Can be changed after creation.
Example: List

In [10]:
my_list = [1, 2, 3]
my_list[0] = 10  # Modifying the first element
print(my_list)   # Output: [10, 2, 3]

[10, 2, 3]

Immutable Data Types: Cannot be changed after creation.
Example: Tuple

In [11]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This will raise a TypeError
print(my_tuple)  # Output: (1, 2, 3)

(1, 2, 3)